{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>{{ username }}</h1><br>

  <div class="row">
  {% for treasure in treasures %}
    <div class="col-md-4">
    <div class="treasure panel panel-default">
      <a href="/{{treasure.id}}/">
      <div class="panel-heading">
	<h3 class="panel-title">{{ treasure.name }}</h3>
      </div>
      <div class="panel-body">
          <a href="/{{treasure.id}}/">
          <div class="treasure-photo">
            {% if treasure.img.url == "/media/media/default.png" %}
              <img src="{{ treasure.img_url }}" height="100">
            {% else %}
              <img src="{{ treasure.img.url }}" height="100">
            {% endif %}
          </div>
          </a>
      </div>
      </a>
    </div>
    </div>
  {% endfor %}
  </div>
</br>
{% endblock %}
